In [1]:
#q1:

In [2]:
for i in range(5):
  print('ineuron '*i)

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [4]:
#q2:

In [6]:
for i in range(6):
  if i<=3:
    n=i
  else:
    n=6-i
  print(("ineuron "*n).center(50,' '))

                     ineuron
                 ineuron ineuron
             ineuron ineuron ineuron
                 ineuron ineuron
                     ineuron

In [8]:
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,445,45,4,5]),
   {'k1':"sudh", 'k2':"ineuron",'k3':"kumar",3:6,7:8},["ineuron","data science"]]

In [10]:
#q3:try to extract all the list entity

In [11]:
for i in l:
  if type(i) == list:
    print(i)

[1, 2, 3, 4]
['ineuron', 'data science']

In [12]:
#q4:try to extract all the dict enteties

In [13]:
for i in l:
  if type(i)==dict:
    print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [14]:
#q5:try to extract all the tuples enteties

In [15]:
for i in l:
  if type(i)==tuple:
    print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [16]:
#q6:try to extract all the numerical data it may b a part of dict key and values

In [18]:
for i in l:
  if type(i)!=dict:
    for j in i:
      if type(j)==int:
        print(j)
  elif type(i)==dict:
    for m in i:
      if type(m)==int:
        print(m)
      if type(i[m]) == int:
        print(i[m])

1
2
3
4
2
3
4
5
6
3
4
5
6
7
4
5
45
23
445
3
6
7
8

In [19]:
#q7:try to given summation of all the numeric data

In [21]:
#q8:try to filter out of all the numeric data which is part of a list

In [22]:
for i in l:
  if type(i)==list:
    for j in i:
      if type(j)== int and j%2 !=0:
        print(j)

1
3

In [23]:
#q9:try to extract "ineuron" out of this data

In [24]:
for i in l:
  if type(i) !=dict:
    for j in i:
      if j=='ineuron':
        print(j)
  else:
    for j in i:
      if i[j] == 'ineuron':
        print(i[j])

ineuron
ineuron

In [25]:
#q10:try to upperwrape all the collection inside collection and create a flat list

In [28]:
u=[]
for i in l:
  if type(i) !=dict:
    u.extend(i)
  else:
    u.extend(i.keys())
    u.extend(i.values())
u

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 4,
 5,
 45,
 23,
 445,
 'k1',
 'k2',
 'k3',
 3,
 7,
 'sudh',
 'ineuron',
 'kumar',
 6,
 8,
 'ineuron',
 'data science']

In [29]:
#q11:try to find out number of keys in dict element

In [31]:
for i in l:
  if type(i)==dict:
    print("no of keys in dictionary is:",len(i))

no of keys in dictionary is: 5